@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&family=Montserrat:wght@700&display=swap");
/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  font-family: "Inter";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.menu__link {
  font-size: 16px;
  color: var(--black-2, #292929);
}

.socials, .menu__list, .footer__bottom, .card__footer, .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__next-btn, .banner__prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
}

.wrapper {
  background: #FEFEFE;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1230px;
}

.header {
  margin-bottom: 12px;
}
.header__container {
  min-height: 64px;
}
.banner {
  position: relative;
  margin-bottom: 32px;
}
.banner__image {
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 400px;
}
.banner__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner__prev-btn {
  left: 0;
  transform: translateX(-50%);
}
.banner__next-btn {
  right: 0;
  transform: translateX(50%);
}

.navbar {
  margin-bottom: 40px;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar__item {
  border-radius: 16px;
  min-height: 43px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #000;
  font-size: 16px;
}
.navbar__item:hover {
  transition: 0.5s;
  background: #E7F3FC;
}
.navbar__link {
  color: #000;
}
.navbar__link:hover {
  color: #5982E7;
}

.products {
  margin-bottom: 40px;
}
.products__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 18px;
}
.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 352px;
  border-radius: 16px;
  background: var(--black-white-white, #FFF);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
}
.card__image {
  margin-bottom: 12px;
  width: 100%;
  min-height: 220px;
  position: relative;
  overflow: hidden;
}
.card__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card__body {
  padding: 0 12px;
}
.card__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}
.card__desc {
  color: var(--dark-gray-dark-gray-5, #48535B);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.card__footer {
  padding: 0 12px 16px;
}
.card__price {
  color: var(--dark-gray-dark-gray-2, #252C32);
  font-size: 14px;
}
.card__price span {
  font-size: 18px;
  font-weight: 600;
}
.card__add {
  display: flex;
  padding: 10px 20px;
  border-radius: 20px;
  background: #5982E7;
  gap: 10px;
  color: #fff;
  transition: 0.5s;
}
.card__add:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  color: #5982E7;
  background: #fff;
}

.footer {
  padding: 24px 0;
  border-top: 1px solid var(--light-gray-light-gray-4, #EEF0F2);
}
.footer__top {
  display: grid;
  align-items: center;
  grid-template-columns: 65px minmax(0px, 379px) auto;
  border-bottom: 1px solid var(--light-gray-light-gray-4, #EEF0F2);
  padding-bottom: 40px;
}
.footer__navbar {
  justify-self: start;
  grid-column-start: 3;
}
.footer__bottom {
  padding-top: 40px;
}
.footer__creator {
  font-size: 16px;
  color: var(--Secondary-text, #808080);
}
.menu__list {
  gap: 40px;
}
.menu__link {
  transition: 1s;
  border-bottom: #FFF 1px solid;
  white-space: nowrap;
}
.menu__link:hover {
  border-bottom: #000 1px solid;
}

.socials {
  gap: 16px;
}